[submodule "/home/luebeck/Programming/acaverilog_dev/external/acaverilog/external/verilator"]
	path = /home/luebeck/Programming/acaverilog_dev/external/acaverilog/external/verilator
	url = https://github.com/verilator/verilator
[submodule "external/systemc"]
	path = external/systemc
	url = https://github.com/accellera-official/systemc.git
